# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

# Large Raw Datasets (Re-downloadable via src/data_loader.py)
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv
